@font-face {
  font-family: "NamsanBold"; /* 폰트 이름 */
  src: url("assets/font/서울남산 장체B.ttf") format("truetype"); /* 경로 및 형식 */
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.search-bar {
  border: 1.5px solid #231F20; /* 테두리 */
  padding: 15px; /* 내부 여백 */
  margin: 0; /* 외부 여백 */
  font-size: 14px; /* 폰트 크기 */
  font-family: "NamsanBold", Arial, sans-serif; /* "NamsanBold"가 우선 적용 */
  outline: none; /* 포커스 시 외곽선 제거 */
}

/*
.search-bar:focus {
  border-color: #00aaff; 
  background-color: #f0f8ff; 
}
*/

.search-bar::placeholder {
  color: #aaa; /* 플레이스홀더 텍스트 색상 */
  font-style: italic; /* 플레이스홀더 텍스트 스타일 */
}
